@font-face {
    font-family: 'DM Mono Light';
    src: url('../fonts/DM_Mono/DMMono-Light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Mono';
    src: url('../fonts/DM_Mono/DMMono-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-ExtraBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DM Mono Light', sans-serif;
    color: rgb(187, 187, 187);
}

h1 {
    font-family: 'Inter', 'sans-serif';
    color:rgb(255, 255, 255);
    font-style: italic;
}

h2 {
    font-family: 'Inter', 'sans-serif';    
}

h2, h3 {
    color: rgb(255, 255, 255);
}

.pidgey {
    color: rgb(240, 227, 49);
}

video {
    margin-top: 10px;
}

#banner-img {
    margin-left: 50px;
    margin-top: 10px;
}

.container {
    position: absolute;
    top: 50px;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 700px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category {
    margin-bottom: 100px;
}
.category h2 {
    margin-bottom: 10px;
}

.projectlink {
    color: inherit;
    text-decoration: inherit;
}

.project {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgb(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 10px;
}

a .project:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.project a {
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.project .description {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
}

.project .title {
    color: rgb(255, 227, 103);
    font-weight: bold;
    font-family: 'DM Mono';
}
a .project .title {
    text-decoration: underline;
}

.project .date {
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    padding: 0 5px;
}

.project video {
    width: 100%;
    max-height: 200px;
}
